<!-- SASS file: scss/app/category.scss
General Style file : scss/app/general.scss -->
<ion-view hide-nav-bar="true" view-title="Category">
  <ion-content class="category">

    <!-- Category Box Title with background image -->
    <div class="category-box">
      <i class="ion-android-arrow-back mg-back-button" ng-click="goBackAction()"></i>
      <img src="img/category-banner.jpg" class="banner-image">
      <h1 class="text-center">MEUS INGRESSOS</h1>
      <h6 class="category-label"></h6>
    </div>
    <!-- End Category -->

    <!-- Category Items -->
    <div class="category-content">
      <div class="mini-post-section category-view">
       <ion-list class="mini-post-list">
         <a class="item item-thumbnail-left">
           <img src="img/mini-post-pic-1.jpg">
           <h1 class="primary-font">Can You Spot These Problems With Building Wealth?</h1>
         </a>

          
         
       </ion-list>
      </div>
    </div>
    <!-- Category Items -->

  </ion-content>
</ion-view>
