<!-- SASS file: scss/app/post-comment.scss
General Style file : scss/app/general.scss -->
<ion-view view-title="Comments">
  <ion-content class="comment-section has-footer">
    <div class="mini-post-section comment-block">
     <ion-list class="mini-post-list">
      <a class="item item-thumbnail-left">
        <img src="img/mini-post-pic-1.jpg">
        <h1 class="primary-font">Can You Spot These Problems With Building Wealth?</h1>
      </a>
     </ion-list>
    </div>

    <div class="mg-comment">
      <h5>Michelle</h5>
      <h6>2 Mins ago</h6>
      <hr>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitationorum.</p>
      </div>
    </div>

    <div class="mg-comment">
      <h5>Michelle</h5>
      <h6>2 Mins ago</h6>
      <hr>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitationorum.</p>
      </div>
    </div>

    <div class="mg-comment">
      <h5>Michelle</h5>
      <h6>2 Mins ago</h6>
      <hr>
      <div class="comment-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitationorum.</p>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer comment-bar">
    <button class="button button-block" ui-sref="app.add-comment">Add Comment</button>
  </div>
</ion-view>
