<!-- SASS file: scss/app/login.scss
General Style file : scss/app/general.scss -->
<ion-view view-title="Forgot Password?">

  <div class="bar bar-header bar-light">
    <button class="button icon ion-ios-arrow-back" ng-click="goBackAction()"></button>
    <h1 class="title">Esqueceu a senha?</h1>
  </div>

  <ion-content class="forgot-section has-header">
    <div class="forgot-content-section">
      <h4 class="secondary-font light-weight">
        Vamos ajudar você a recuperar sua senha. Enviaremos as instruções para o seu e-mail.
      </h4>
      <label class="item item-input">
        <input type="text" placeholder="Email@address.com">
      </label>
      <button class="button button-light button-block">Enviar E-mail</button>
    </div>
  </ion-content>
  
</ion-view>
