<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content >
    <div class="row form-heading">
      <div class="col">
        <h1 class="form-title">Crie uma conta</h1>
        <h3 class="form-sub-title">Para continuar, você deve logar-se</h3>
        <div class="social-sign-up button-bar">
           
        </div>
      </div>
      
    </div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Usuário</span>
    <input type="text" placeholder="Usuário">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Senha</span>
    <input type="password" placeholder="Senha">
  </label>
   <input type="submit" class="sign-up button button-block"  value="LOGIN" ng-click="doSignUp()"/>
</div>
    <div class="row form-separator">
      <hr class="separator-line"/>
      <span class="separator-mark">OU</span>

      <hr class="separator-line"/>
    </div>
    <h3 class="form-sub-title">Cadastre-se preenchendo os dados abaixo</h3>

        <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()"> 
          <wz-step wz-title="Dados" wz-disabled="{{disabled}}">
                <div class="row form-wrapper">
      <div class="col">
          <div class="form-fields-outer list list-inset">
            <div class="row multi-inputs">
              <div class="col">
                <label class="item item-input">
                  <input class="multi-input" type="text" placeholder="Nome Completo" name="name" ng-model="user.name" required>
                </label>
              </div>
            </div>
             <div class="row multi-inputs">
              <div class="col">
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
          </div>
          </div>
           <div class="row multi-inputs">
            <div class="col">
            <label class="item item-input">
              <input type="tel" placeholder="CPF" name="phone" ng-model="user.cpf" required>
            </label>
          </div>
          </div>
           <div class="row multi-inputs">
            <div class="col">
            <label class="item item-input">
               <input class="multi-input" type="date" placeholder="Data Nascimento" name="name" ng-model="user.datanascimento" required>
            </label>
          </div>
          </div>
            
          </div>
 
              <input type="submit" class="sign-up button button-block" wz-next value="PRÓXIMO" />
                  </div>
    </div>
          </wz-step>
          <wz-step wz-title="Endereços">
             <div class="row form-wrapper">
                  <div class="col">
                      <div class="form-fields-outer list list-inset">
                        <div class="row multi-inputs">
                          <div class="col">
                            <label class="item item-input">
                              <input class="multi-input" type="text" placeholder="Endereço" name="name" ng-model="user.endereco" required>
                            </label>
                          </div>
                        </div>
                        <div class="row multi-inputs">
                          <div class="col">
                            <label class="item item-input">
                              <input class="multi-input" type="text" placeholder="Núm." name="name" ng-model="user.numero" required>
                            </label>
                          </div>
                          <div class="col">
                            <label class="item item-input">
                              <input class="multi-input" type="text" placeholder="Complemento" name="name" ng-model="user.complemento" required>
                            </label>
                          </div>
                        </div>
                        <div class="row multi-inputs">
                          <label class="item item-input">
                            <input class="multi-input" type="text" placeholder="Bairro" name="name" ng-model="user.bairro" required>
                          </label>
                          <label class="item item-input" >
                            <input class="multi-input" type="text" placeholder="Cidade" name="name" ng-model="user.cidade" required>
                          </label>
                        </div>
            
          </div>
 
              <input type="submit" class="sign-up button button-block" wz-next value="PRÓXIMO" />
                  </div>
            </div> 
          </wz-step>
          <wz-step wz-title="Fones">
             <div class="row form-wrapper">
              <div class="col">
                  <div class="form-fields-outer list list-inset">
                    <div class="row multi-inputs">
                      <div class="col">
                        <label class="item item-input">
                          <input class="tel" type="text" placeholder="Fone Principal" name="name" ng-model="user.foneprincipal" required>
                        </label>
                      </div>
                    </div>
                    <div class="row multi-inputs"> 
                      <div class="col">
                        <label class="item item-input">
                          <input class="tel" type="text" placeholder="Fone Secundário" name="name" ng-model="user.fonesecundario" required>
                        </label>
                      </div>
                    </div>
                    <div class="row multi-inputs"> 
                      <div class="col">
                        <label class="item item-input">
                          <input class="tel" type="text" placeholder="Celular" name="name" ng-model="user.celular" required>
                        </label>
                      </div>
                    </div>
 
              <input type="submit" class="sign-up button button-block" wz-next value="PRÓXIMO" />
                  </div>
    </div> </div>
          </wz-step>
          <wz-step wz-title="Senha">
             <div class="row form-wrapper">
              <div class="col">
                  <div class="form-fields-outer list list-inset">
                    <div class="row multi-inputs">
                      <div class="col">
                        <label class="item item-input">
                          <input class="password" type="password" placeholder="Senha" name="name" ng-model="user.senha" required>
                        </label>
                      </div>
                    </div>
                    <div class="row multi-inputs"> 
                      <div class="col">
                        <label class="item item-input">
                           <input class="password" type="password" placeholder="Senha" name="name" ng-model="user.senha2" required>
                        </label>
                      </div>
                    </div>
                     
 
              
                  </div>
    </div> </div>
    <input type="submit" class="sign-up button button-block" value="FINALIZAR" ng-click="doSignUp(user)" />
          </wz-step>
      </wizard>



        
  
  </ion-content>
</ion-view>
