<meta name="viewport" content="width=device-width, initial-scale=1" />  
<ion-view class="feed-view" view-title='<img src="img/logo.png" height="100%">'>
  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="getNewData()">
    </ion-refresher>


  
  

  
 
      <div class="main_title">
        <h2>Eventos <span>Prime</span> Impressos</h2>
        <p>Escolha um evento e divirta-se a vontade!</p>
      </div>
 
        
            

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>23/02/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3776'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>GUSTAVO MOTA </strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>23/02/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3753'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>ITAPURANGA - GO       <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>JEFFERSON MORAES</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>24/02/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3773'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>TUCURUI - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FEST TRILHA T</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>24/02/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3738'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>CACU - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>NOITE FLASH BACK</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>24/02/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3769'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>TUCURUI - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>PSYCHEDELIC TRANCE</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>02/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3703'>
                <img src='https://www.primeingressos.com.br/IMG/jeffersonm300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SAO LUIS M. B. - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>JEFFERSON MORAIS</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>02/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3626'>
                <img src='https://www.primeingressos.com.br/IMG/sisi300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SANTAREM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>SIMONE E SIMARIA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>02/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3741'>
                <img src='https://www.primeingressos.com.br/IMG/300x300 thiago brava_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>GOIANESIA - GO        <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>THIAGO BRAVA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>03/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3690'>
                <img src='https://www.primeingressos.com.br/IMG/moraes300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SILVANIA - GO         <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>JEFFERSON MORAIS </strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>03/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3775'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>REDENCAO - PA         <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>NOITE NEON</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>10/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3767'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SANTA HELENA - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>DIEGO E ARNALDO</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>10/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3780'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>INSANITY SPECIAL</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>10/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3724'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>VITINHO</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>15/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3759'>
                <img src='https://www.primeingressos.com.br/IMG/marilia300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>REDENCAO - PA         <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>MARILIA MENDONCA </strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>17/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3705'>
                <img src='https://www.primeingressos.com.br/IMG/fextinha300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BURITI ALEGRE - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FEXTINHA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>17/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3765'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>ICARAI - MG<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FORRO DO VAQUEIRO</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>23/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3763'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SANTAREM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>HUNGRIA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>24/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3744'>
                <img src='https://www.primeingressos.com.br/IMG/marilia300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>MARABA - PA           <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>MARILIA MENDONCA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>29/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3764'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>GAAB</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3700'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SAO FRANCISCO - MG<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>DE BAR EM BAR</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3777'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>JABORANDI - BA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FORRO BOYS 01/04</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3778'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>COCOS - BA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FORRO BOYS COCOS</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3762'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SANTA ROSA - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>GABRIEL E RAFAEL</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/03/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3745'>
                <img src='https://www.primeingressos.com.br/IMG/300X300humerona_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>NIQUELANDIA - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>HUMBERTO E RONALDO</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>01/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3779'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>CUSCUIZEIRO - BA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>FORRO BOYS 31/03</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>07/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3766'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>QUIRINOPOLIS - GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>GUSTAVO M E RAFAEL</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>07/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3774'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>CANAA - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>SHOW DO MF</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>08/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3712'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>CALDAS NOVAS - GO     <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>ALMOCO CAIPIRA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>13/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3771'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>LUAU 3030</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>14/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3772'>
                <img src='https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>BELEM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>A MAGIA DO CIRCO</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>14/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3768'>
                <img src='https://www.primeingressos.com.br/IMG/300x300 amado batista_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>MARABA - PA           <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>AMADO BATISTA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>22/04/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3761'>
                <img src='https://www.primeingressos.com.br/IMG/jerry300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>JATAI - GOIAS         <span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>MAGIC HOLI </strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>05/05/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3696'>
                <img src='https://www.primeingressos.com.br/IMG/eduardocosta300_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SAO FRANCISCO - MG<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>EDUARDO COSTA</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>06/05/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3728'>
                <img src='https://www.primeingressos.com.br/IMG/xandepilares_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SANTAREM - PA<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>XANDY DE PILARES</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>17/05/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3752'>
                <img src='https://www.primeingressos.com.br/IMG/mw_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>SAO SEBASTIAO - DF<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>MANO WALTER</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
        

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <fieldset>
        
          <div class="tour_container">
            <div class="ribbon_3 popular"><span>31/12/2018</span>
            </div>
            <div class="img_container">
              <a href='detalhe.aspx?id=3291'>
                <img src='https://www.primeingressos.com.br/IMG/teste600_1.jpg' class="img-responsive" alt="Image">
                <div class="short_info">
                  <i class="icon_set_1_icon-44"></i>GOIANIA-GO<span class="price"><sup>$</sup>39</span>
                </div>
              </a>
            &nbsp;</div>
            <div class="tour_title">
              <h3><strong>EVENTO PRIME</strong> Show</h3>
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
              </div>
              <!-- end rating -->
              <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
              </div>
              <!-- End wish list-->
            </div>
          </div>
          <!-- End box tour -->

          <!-- Fim lista -->                         
            </fieldset>
        </div>
        <!-- End col-md-4 -->
          

  
 
  

   
     
 
<!--
    <div ng-repeat="post in posts">
      <section ng-include="'views/app/partials/post-card.html'" class="post-card-outer"></section>
    </div>
-->
    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
