
<ion-view view-title="Carrinho de Compras" class="cart-view" cache-view="false">
  <ion-content>
    <div ng-if="products.length == 0">
      <div class="empty-cart">
        <i class="icon ion-ios-cart-outline"></i>
        <h3 class="no-products">Seu carrinho esta vazio</h3>
      </div>
    </div>
    <div ng-if="products.length > 0">
      <div class="products-list">
        <div class="product-list-item" ng-repeat="product in products">
          <div class="row product-title-wrapper">
            <span class="product-title">{{product.evento.descricaoevento}}</span>
          </div>
          <div class="row product-content-wrapper">
            <div class="col">
              <div class="product-picture">
                <pre-img ratio="_1_1" helper-class="main-image">
                  <img ng-src="https://www.primeingressos.com.br/IMG/{{product.evento.imagemsite}}.jpg" spinner-on-load>
                </pre-img>
              </div>
              <div class="product-options-wrapper">
                <div class="row product-options"> 
                  
                </div>
                <div class="row remove-product-wrapper">
                  <div class="col col-center col-75">
                    <!-- <span class="remove-product-button" ng-click="removeProductFromCart({{product}})">Remove</span> -->
                    <!-- <span class="remove-product-button" ng-click="removeProductFromCart(product)">Remove</span> -->
                    <button class="button button-clear button-small button-assertive remove-product-button" ng-click="removeProductFromCart(product)">
                      REMOVER
                    </button>
                  </div>
                  <div class="col col-center col-25">
                    <span class="product-price">R$ {{product.valor}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider shop-section-title">
        <span class="title-copy">Sub total</span>
        <span class="checkout-total-price section-action">R$ {{ getSubtotal() }}</span>
      </div>
      <div class="row padding">
        <button class="button button-block button-energized checkout-btn" ui-sref="app.shipping-address">
          FINALIZAR A COMPRA
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
