<ion-view view-title="" class="product-view">
  <ion-nav-buttons side="secondary">
    
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <div class="product-card-content">
      <div class="item item-image">
        <pre-img ratio="_3_2" helper-class="main-image">
          <img ng-src="https://www.primeingressos.com.br/IMG/{{product.evento.imagemsite}}.jpg" height="100%" spinner-on-load>
        </pre-img>
      </div>
      
       <div class="item tabs">
  <a class="tab-item">
    INGRESSOS
  </a>
  <a class="tab-item" ng-click="showDetails(product)">
    INFORMAÇÕES
  </a> 
</div> 
      <div class="item item-body">
       
        {{product.evento.descricaoevento}}<Br>
        {{product.evento.detalhesevento}}
<table   class="table  ">
             
          <tbody ng-repeat="(key, post) in product.acentos_evento">


            <tr>
              <td>
                <div class="row"> 
                  <div class="col-sm-10">
                    <h4 class="nomargin">{{post.grupoambiente}}</h4>
                    <p>Tipo:  {{post.tipo}}</p>
                    <input type="hidden"  ng-model="ingresso.detalhe[key]">
                    <input type="hidden"  ng-model="ingresso.valor[key]">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row"> 
                  <div class="col-sm-5">
                    R$ {{post.valor}}
                  </div>
                  <div class="col-sm-2">
                   <a class="button ion-minus-circled"  ng-click="somaItens(ingresso.qtd, 'menos', post.valor, key, post.grupoambiente, ingresso.detalhe, ingresso.valor);" style="width:30px;"></a>
                 </div>
                 <div class="col-sm-2">
             

                <input type="number"  ng-model="ingresso.qtd[key]"  class="form-control text-center" style="width:60px;" >
                 </div>
                 <div class="col-sm-2">
                <a class="button ion-plus-circled" ng-click="somaItens(ingresso.qtd, 'mais', post.valor, key, post.grupoambiente, ingresso.detalhe, ingresso.valor);" style="width:30px;"></a>
              </div>
                  </div>
                </div>
              </td> 
            </tr>   
          </tbody> 
        </table>



      </div>
    </div>
      
     
  </ion-content>
</ion-view>
<ion-footer-bar> 
  <h1 class="title">Total {{valor}}</h1>      
  <div class="buttons">
    <a ng-click="showAddToCartPopup(product, ingresso.qtd, valor, ingresso.detalhe)" class="btn btn-success btn-block">FINALIZAR <i class="fa fa-angle-right"></i></a>
  </div>
</ion-footer-bar>  