<ion-view view-title="" class="product-view">
  <ion-nav-buttons side="secondary">
    
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <div class="product-card-content">
      <div class="item item-image">
        <pre-img ratio="_1_1" helper-class="main-image">
          <img ng-src="https://www.primeingressos.com.br/IMG/PrimeIndex_1.jpg" spinner-on-load>
        </pre-img>
      </div>
      <div class="item item-body">
        <h2 class="product-title">
          Data: 02/03/2018<br>
          Cidade: SAO LUIS M. B. - GO<br>
          Local:  SAO LUIS M. B.<br>
          Ponto(s) de Venda:  * PONTO 1<br>
          Outras Informações: JEFFERSON MORAES EM SÃO LUIS DE MONTES BELOS - GO!! PRECISANDO BEBER COM EMERGÊNCIA!<br>
        </h2> 
        <p class="product-price" ng-click="showAddToCartPopup(product)">COMPRAR INGRESSO</p>
      </div>
      <div class="item item-body">
        <p class="product-description"> 
        23127 PISTA 2LT U MEIA  PISTA - PROMOCIONAL 15 %  R$ 40,00  <bR>
        23560 FRONTSTAGE 3LT U MEIA FRONTSTAGE  15 %  R$ 60,00  <bR>
        </p>
      </div>
    </div>
     
     
  </ion-content>
</ion-view>
