<!-- SASS file: scss/app/homefeed.scss
General Style file : scss/app/general.scss -->
<ion-view view-title="Ingresso Fácil">
  <ion-content>

    <div class="post-feed animated fadeInDown" ui-sref="app.single">
      <img src="img/feed-img-1.jpg" class="feed-image">
      <h1 class="primary-font bold-weight post-feed-title animated fadeInUp">ENCONTRO DAS TRIBOS</h1>
      <h6 class="post-feed-category app-divider divider-text-right secondary-font semi-bold">São Paulo / SP</h6>
    </div>

    <div class="post-feed animated fadeInDown" ui-sref="app.single">
      <img src="img/feed-img-2.jpg" class="feed-image">
      <h1 class="primary-font bold-weight post-feed-title animated fadeInUp">GRUPO FUNDO DE QUINTAL</h1>
      <h6 class="post-feed-category app-divider divider-text-right secondary-font semi-bold">Porto Alegre / RS</h6>
    </div>

    <div class="post-feed animated fadeInDown" ui-sref="app.single">
      <img src="img/feed-img-3.jpg" class="feed-image">
      <h1 class="primary-font bold-weight post-feed-title animated fadeInUp">GRUPO SERENO</h1>
      <h6 class="post-feed-category app-divider divider-text-right secondary-font semi-bold">Porto Alegre / RS</h6>
    </div>

    <div class="post-feed animated fadeInDown" ui-sref="app.single">
      <img src="img/feed-img-1.jpg" class="feed-image">
      <h1 class="primary-font bold-weight post-feed-title animated fadeInUp">ENCONTRO DAS TRIBOS</h1>
      <h6 class="post-feed-category app-divider divider-text-right secondary-font semi-bold">Rio de Janeiro / RJ</h6>
    </div>

  </ion-content>
</ion-view>
