<!-- SASS file: scss/app/search.scss
General Style file : scss/app/general.scss -->
<ion-view view-title="Search" class="search-page">
  <ion-content>

  <!-- Search Section -->
  <div class="app-search-form">
    <label class="item item-input">
      <i class="icon ion-search somex"></i>
      <input type="search" placeholder="Pesquisa">
    </label>
  </div>


  <!-- Search Results Section -->
  <div class="mini-post-section search-section">
    <div class="mini-post-section">
      <h6 class="mini-post-section--title">Resultado da pesquisa</h6>
     <ion-list class="mini-post-list">
      <a class="item item-thumbnail-left">
        <img src="img/mini-post-pic-1.jpg">
        <h1 class="primary-font">Dead Fish (SP) Sáb, 24/02</h1>
      </a>
      <a class="item item-thumbnail-left">
        <img src="img/mini-post-pic-2.jpg">
        <h1 class="primary-font">Capital Inicial (SP) sex, 23/02</h1>
      </a>
      <a class="item item-thumbnail-left">
        <img src="img/mini-post-pic-3.jpg">
        <h1 class="primary-font">Nando Reis (SP) sáb, 24/02</h1>
      </a>
     </ion-list>
    </div>
  </div>
  <!-- End Search Results Section -->

</ion-content>
</ion-view>
