<!-- SASS file: scss/app/post-comment.scss
General Style file : scss/app/general.scss -->
<ion-view view-title="Add a Comment">
  <ion-content scroll="false" class="comment-section has-footer">
    <div class="mini-post-section comment-block">
     <ion-list class="mini-post-list">
      <a class="item item-thumbnail-left">
        <img src="img/mini-post-pic-1.jpg">
        <h1 class="primary-font">Can You Spot These Problems With Building Wealth?</h1>
      </a>
     </ion-list>
    </div>

    <div class="padding app-form">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments"></textarea>
        </label>
        <button class="button button-positive button-block">Add Comment</button>
      </div>
    </div>


  </ion-content>
</ion-view>
